# Copyright (C) 2014 The University of New South Wales
#
# This file is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.

# This is the default configuration file. You can edit this.

[costs]
co2-price-per-t = 25
ccs-storage-costs-per-t = 27
coal-price-per-gj = 1.86
discount-rate = 0.05
gas-price-per-gj = 11.00
technology-cost-class = GenCost2022-in2021

[limits]
hydro-twh-per-yr = 12
bioenergy-twh-per-yr = 20
nonsync-penetration = 1 
minimum-reserves-mw = 0

[optimiser]
seed = 24689
generations = 100
sigma = 2.0

[generation]
cst-trace = http://ozlabs.org/~bje/data/cst2010.csv
egs-geothermal-trace = http://ozlabs.org/~bje/data/egs2010.csv
hsa-geothermal-trace = http://ozlabs.org/~bje/data/hsa2010.csv
wind-trace = /Users/elonarey-costa/Documents/phdCode/NEMO/data/10years/2010_2020Wind.csv
offshore-wind-trace = http://ozlabs.org/~bje/data/offshore2010.csv
pv1axis-trace = /Users/elonarey-costa/Documents/phdCode/NEMO/data/10years/2010_2020PVNorth.csv
rooftop-pv-trace = file:///Users/elonarey-costa/Documents/phdCode/NEMO/data/rooftop2010.csv

[demand]
demand-trace = /Users/elonarey-costa/Documents/phdCode/NEMO/data/10years/2010_2020demand.csv
